
<div>
    <img src="/assets/address.png" class="img" alt="...">
</div>
<div class="main">
    <div class="app">
        <aside class="sidebar">
            
    
            <nav class="menu">
                <a routerLink="/front/user/profile" class="menu-item ">PROFILE</a>
                <a routerLink="/front/user/orders" class="menu-item">ORDERS</a>
                <a routerLink="/front/user/manageaddress" class="menu-item is-active">MANAGE ADDRESS</a>
                <a routerLink="/front/user/password" class="menu-item">CHANGE PASSWORD</a>
                <hr>
                <a routerLink="" class="menu-item" style="margin-top: 100%;">LOG OUT</a>
                <hr>
            </nav>
    
        </aside>
    
        <main class="content">
             
            <div class="container">
                <div class="title">MANAGE ADDRESS</div>
                <div class="content">
                                    </div>
            </div>
        </main>
    </div>
    