

<!-- <main id="intro" class="bg-image" style="
      background-image: url(https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JvY2VyeXxlbnwwfHwwfHw%3D&w=1000&q=80);
      height: 100vh;
            background-repeat:initial;  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)"></div>
</main> -->
<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <main id="intro" class="bg-image" style="
      background-image: url(https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JvY2VyeXxlbnwwfHwwfHw%3D&w=1000&q=80);
      height: 60vh;
            background-repeat:initial;  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)"></div>
</main> 
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <main id="intro" class="bg-image" style="
      background-image: url(https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JvY2VyeXxlbnwwfHwwfHw%3D&w=1000&q=80);
      height: 100vh;
            background-repeat:initial;  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)"></div>
</main> 
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <main id="intro" class="bg-image" style="
      background-image: url(https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JvY2VyeXxlbnwwfHwwfHw%3D&w=1000&q=80);
      height: 100vh;
            background-repeat:initial;  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)"></div>
</main> 
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<app-explore-category ></app-explore-category>
<app-featured-products></app-featured-products>
<app-other-data></app-other-data>

<section class="facilities">
    <div id="card">
      <div class="left">
       <img class="img" src="/assets/price.png" alt="">
      </div>
      <div class="right">
        <h4>Best Prices & Deals</h4>
        <p>Don’t miss our daily amazing deals and prices</p>
      </div>
    </div>
    <div id="card">
      <div class="left">
        <img class="img" src="/assets/refund.png" alt="">
      </div>
      <div class="right">
        <h4>Refundable </h4>
        <p>If your items have damage we agree to refund it</p>
      </div>
    </div>
    <div id="card">
      <div class="left">
       <img class="img" src="/assets/truck1.png" alt="">
      </div>
      <div class="right">
        <h4>Free delivery</h4>
        <p>Do purchase over $50 and get free delivery anywhere</p>
      </div>
    </div>
  </section>


