.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  
  ul
  ,li
  {
    list-style: none;
    list-style-type: none;
    margin: 0;
  }
  
  i{
    color: #3BB77E;
    margin-right: 5px;
  }
  
  span{
    width: 900;
  }
  
  .social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 60px;
  }
  
  .social i
  {
    font-size: 40px;
  }
  
  .facilities
  {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  #card{
    width: 270px;
    margin: 50px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  #card i{
    font-size: 50px;
    transform: rotate(100deg);
  }
  
  
  .right
  {
    font-size: 12px;
    margin-left: 10px;
  }
  
  .right p{
    color: #ADADAD
    ;
  }
  
  .img{
    width: 10vh !important;
    height: 10vh !important;
  }

  img{
    height: 80vh;
    width: 100vh;
  }