 <nav>
        <div class="logo-name">
           <span class="logo_name">Admin</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="admin/dashboard">
                    <i class="uil uil-estate"></i>
                    <span class="link-name"> Dahsboard</span>
                </a></li>
                <li><a href="admin/addveges">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Vegetables</span>
                </a></li>
                <li><a href="admin/addfruits">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Fruits</span>
                </a></li>
                <li><a href="admin/addcoffee">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="link-name">Coffee-Tea</span>
                </a></li>
                <li><a href="admin/addmeat">
                    <i class="uil uil-comments"></i>
                    <span class="link-name">Meat</span>
                </a></li>
                <hr>
                <li><a href="#">
                    <i class="uil uil-share"></i>
                    <span class="link-name">Logout</span>
                </a></li>
            </ul>
        </div>
    </nav>

    
    
