<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

<footer class="site-footer">
    <div class="container">
      <!-- <div class="row"> -->
        <hr class="small">
      <!-- <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3"> -->
        <div class="column d-flex ">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Cybercom Creation</h5>
        <p>
          <i class="fa fa-map-marker mr-3 mt-3 "></i>B-305, The First, B/H Keshavbaug, Vastrapur, Ahmedabad
        </p>
        <p>
          <i class="fas fa-phone mr-3 mt-3"></i>9924559358
        </p>
        <p>
          <i class="fas fa-envelope mr-3 mt-3 " ></i><a href="mailto:vijeetshah1408@gmail.com">vijeetshah1408@gmail.com </a>
        </p>
        <p>
          <i class="fas fa-clock mr-3 mt-3"></i>9:30 - 6:30 , Monday - Friday
        </p>

      </div>
      <!-- </div> -->
      <hr class="small">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-12">
          <p class="copyright-text">Copyright © 2023 All Rights Reserved by
            <a href="http://www.cybercom.co.in/">Cybercom-Creation</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
   



