
<div>
  <img src="/assets/category.png" class="image" alt="...">
</div>
<div style="margin-left: 90%">
  <!-- <button type="button" class="btn btn-outline-success" "><i class="fa-sharp fa-solid fa-filter"></i></button> -->
  <a class="navbar-brand px-4 nav-link dropdown-toggle" href="#" id="navbarDropdown"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa-sharp fa-solid fa-filter"></i>
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item " (click)="filtercatagorybyitem('all')" >All</a></li>
    <li><a class="dropdown-item " (click)="filtercatagorybyitem('fruits')" >Fruits</a></li>
    <li><a class="dropdown-item" (click)="filtercatagorybyitem('vagetables')">Vegetables</a></li>
    
  </ul>
</div>

<div Class="container" >
    <div class="card" style="width: 18rem" *ngFor="let data of filteredcatagory">
      <img src="/assets/{{data.img}}" class="card" alt="..." />
      <div class="card-body">
        <p class="card-text">{{data.catagory}}</p>
        <h5 class="card-title">{{data.cat_name}} {{data.quantity}}g</h5>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star unchecked"></span>
        <div class="d-flex justify-content-between">
          <h5>${{data.price}}</h5>
          <span class="text-decoration-line-through">$5</span>
          <a href="#" class="btn btn-primary"><b>Add</b><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </div>
    </div>
    <div Class="container" >
      <div class="card" style="width: 18rem" *ngFor="let data of filteredcatagory">
        <img src="/assets/{{data.img}}" class="card" alt="..." />
        <div class="card-body">
          <p class="card-text">{{data.catagory}}</p>
          <h5 class="card-title">{{data.cat_name}} {{data.quantity}}g</h5>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star unchecked"></span>
          <div class="d-flex justify-content-between">
            <h5>${{data.price}}</h5>
            <span class="text-decoration-line-through">$5</span>
            <a href="#" class="btn btn-primary"><b>Add</b><i class="fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      </div>
      <div Class="container" >
        <div class="card" style="width: 18rem" *ngFor="let data of filteredcatagory">
          <img src="/assets/{{data.img}}" class="card" alt="..." />
          <div class="card-body">
            <p class="card-text">{{data.catagory}}</p>
            <h5 class="card-title">{{data.cat_name}} {{data.quantity}}g</h5>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star unchecked"></span>
            <div class="d-flex justify-content-between">
              <h5>${{data.price}}</h5>
              <span class="text-decoration-line-through">$5</span>
              <a href="#" class="btn btn-primary"><b>Add</b><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
          </div>
        </div>
        </div>

        