<!-- <div class="sticky-top"> -->
<nav class="navbar navbar-expand navbar-dark bg-dark px-2 sticky-top">
    <div class="ccc text-light">
        <i class="fa-solid fa-bag-shopping"></i>
        <a class="text-light" routerLink="/home">CyberCom Creation</a>
    </div>


    <!-- <div class="side-nav-button p-20 me- text-light">
        <form class="d-flex">
            <input class="form-control me-2 w-500 searchh" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success w-10" type="submit">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div> -->
    
    <div class="myCart">
        <i class="fa-solid fa-cart-shopping"></i>
        <a routerLink="/cart" class="text-light " > Cart</a>
    </div>

        

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
                <b *ngIf="userdata; else username">{{userdata.data.username}}</b>
                <ng-template #username> 
                    <h6 class="text-light">Login/Register</h6>
                </ng-template>
            </button>
               
               <div class="dropdown-menu dm p-3 dd-menu" aria-labelledby="triggerId">
                   <span *ngIf="userdata; else userbtn">
                       <button class="btn btn-outline-success btn-sm rounded-2 my-1" ><a routerLink="./front/user/profile">Edit Profile</a></button> <br>
                       <button class="dropdown-item di btn btn-danger my-"  (click)="logout()">LogOut</button>
                       
                    </span>
                    <ng-template #userbtn>
                        <span class="mx-2">
                            <a class="dropdown-item" routerLink="./front/user/login">Log-in</a>
                <a class="dropdown-item" routerLink="./front/user/registration">Registration</a>
                        </span>
                    </ng-template> 
                </div>
            </div>
            <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="./front/user/login">Log-in</a>
                <a class="dropdown-item" routerLink="./front/user/registration">Registration</a>
                
            </div> -->
        <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              USER
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/user/login">Log-in</a>
                <a class="dropdown-item" href="/user/registration">Registration</a>
                
            </div>
          </div>
           -->
</nav>
<!-- <nav class="navbar navbar-light bg-light bg-transparent">
    <a class="navbar-brand" routerLink="/catalog/category"><i class="fa-regular fa-grid-2"></i>All-Category</a>
  <form class="d-flex">
      <a class="navbar-brand"><i class="fa-solid fa-phone"></i><span>223-224-25</span>
          <br><span>24*7Support center</span></a>
  </form>
</nav> -->
        
<!-- </div> -->









<!--     
    <div class="side-nav-button p-20 me-10 text-light mx-5 myCart">
        <i class="fa-solid fa-cart-shopping"></i>
        <a class="navbar-brand px-4" routerLink="/cart">My Cart</a>

    </div> -->
    <!-- <div class="mx-5 user" >
    
        <a class="navbar-brand px-4 " routerLink="/front/user/profile">USER</a>

    </div> -->
