<div class="sticky-top">
<nav class="navbar navbar-expand navbar-dark bg-dark px-2 sticky-top">
    <div class="ccc text-light">
        <i class="fa-solid fa-bag-shopping"></i>
        <a class="text-light" routerLink="/home">CyberCom Creation</a>
    </div>


    <div class="side-nav-button p-20 me- text-light">
        <form class="d-flex">
            <input class="form-control me-2 w-500 searchh" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success w-10" type="submit">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    
    <div class="myCart">
        <i class="fa-solid fa-cart-shopping"></i>
        <a routerLink="/cart" class="text-light " > Cart</a>
    </div>

        <div class="user" >
            <a class="navbar-brand px-4 " routerLink="/front/user/profile">USER</a>
        </div> 

        <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              USER
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/user/login">Log-in</a>
                <a class="dropdown-item" href="/user/registration">Registration</a>
                \
            </div>
          </div> -->
          
</nav>
<nav class="navbar navbar-light bg-light bg-transparent sticky-top">
    <a class="navbar-brand" routerLink="/catalog/category"><i class="fa-regular fa-grid-2"></i>All-Category</a>
  <form class="d-flex">
      <a class="navbar-brand"><i class="fa-solid fa-phone"></i><span>223-224-25</span>
          <br><span>24*7Support center</span></a>
  </form>
</nav>
        
</div>









<!--     
    <div class="side-nav-button p-20 me-10 text-light mx-5 myCart">
        <i class="fa-solid fa-cart-shopping"></i>
        <a class="navbar-brand px-4" routerLink="/cart">My Cart</a>

    </div> -->
    <!-- <div class="mx-5 user" >
    
        <a class="navbar-brand px-4 " routerLink="/front/user/profile">USER</a>

    </div> -->
