<app-header></app-header>
<nav class="navbar navbar-light bg-light ">
    <a class="navbar-brand"><i class="fa-regular fa-grid-2"></i>All-Category</a>
    <form class="d-flex">
        <a class="navbar-brand"><i class="fa-solid fa-phone"></i><span>223-224-25</span>
            <br><span>24*7Support center</span></a>
    </form>
</nav>
<main id="intro" class="bg-image" style="
      background-image: url(https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JvY2VyeXxlbnwwfHwwfHw%3D&w=1000&q=80);
      height: 100vh;
            background-repeat:initial;  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)"></div>
</main>

<app-explore-category></app-explore-category>
<app-featured-products></app-featured-products>
<app-other-data></app-other-data>

<section class="facilities">
    <div id="card">
      <div class="left">
       <img src="../../assets/Group.png" alt="">
      </div>
      <div class="right">
        <h4>Best Prices & Deals</h4>
        <p>Don’t miss our daily amazing deals and prices</p>
      </div>
    </div>
    <div id="card">
      <div class="left">
        <img src="../../assets/Vector (2).png" alt="">
      </div>
      <div class="right">
        <h4>Refundable </h4>
        <p>If your items have damage we agree to refund it</p>
      </div>
    </div>
    <div id="card">
      <div class="left">
       <img src="../../assets/Vector (1).png" alt="">
      </div>
      <div class="right">
        <h4>Free delivery</h4>
        <p>Do purchase over $50 and get free delivery anywhere</p>
      </div>
    </div>
  </section>


<app-footer></app-footer>