
<div>
    <img src="/assets/order.png" class="img" alt="...">
</div>

<div class="app">
    <aside class="sidebar">
    

        <nav class="menu">
            <a routerLink="/front/user/profile" class="menu-item">PROFILE</a>
            <a routerLink="/front/user/orders" class="menu-item is-active">ORDERS</a>
            <a routerLink="/front/user/address" class="menu-item">ADD ADDRESS</a>
            <a routerLink="/front/user/manageaddress" class="menu-item">MANAGE ADDRESS</a>
            <a routerLink="/front/user/password" class="menu-item">CHANGE PASSWORD</a>
            <hr>
            <a (click)="logout()" class="menu-item" style="margin-top: 100%;">LOG OUT</a>
            <hr>
        </nav>

    </aside>

    <main class="content">
        <div class="container-fluid">
  
            <div class="container d-flex mt-5">
        
                <div class="container  mx-5">
                    <div class="d-flex justify-content-center">
                        <hr class="w-25 ">
                        <p class="mx-5 fs-6">Past Orders</p>
                        <hr class="w-25">
                    </div>
                    <div class="orders-table">
                        <div class="d-flex border ">
                            <i class="fa-solid fa-truck border-right bg-secondary p-2 border-end"></i>  
                            <span class="mx-5 p-2 border-end">Complete</span> 
                            <span  class="mx-5 p-2 border-end">12 mar,sun 8.40am - 12.30pm</span>
                            <span class="mx-5 p-2 border-end">order amount rs162</span>
                            <span class="mx-5 p-2 ">1 item <i class="fas fa-regular fa-angle-down"></i></span>
                        </div>
                        <div class="d-flex border ">
                            <i class="fa-solid fa-truck border-right bg-secondary p-2 border-end"></i>  
                            <span class="mx-5 p-2 border-end">Complete</span> 
                            <span  class="mx-5 p-2 border-end">12 mar,sun 8.40am - 12.30pm</span>
                            <span class="mx-5 p-2 border-end">order amount rs162</span>
                            <span class="mx-5 p-2 ">1 item <i class="fas fa-regular fa-angle-down"></i></span>
                        </div>
                        <div class="d-flex border ">
                            <i class="fa-solid fa-truck border-right bg-secondary p-2 border-end"></i>  
                            <span class="mx-5 p-2 border-end">Complete</span> 
                            <span  class="mx-5 p-2 border-end">12 mar,sun 8.40am - 12.30pm</span>
                            <span class="mx-5 p-2 border-end">order amount rs162</span>
                            <span class="mx-5 p-2 ">1 item <i class="fas fa-regular fa-angle-down"></i></span>
                        </div>
                        <div class="d-flex border ">
                            <i class="fa-solid fa-truck border-right bg-secondary p-2 border-end"></i>  
                            <span class="mx-5 p-2 border-end">Complete</span> 
                            <span  class="mx-5 p-2 border-end">12 mar,sun 8.40am - 12.30pm</span>
                            <span class="mx-5 p-2 border-end">order amount rs162</span>
                            <span class="mx-5 p-2 ">1 item <i class="fas fa-regular fa-angle-down"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
