.card{
    height: 70% !important;
    width: 70% !important;
}
.container{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    }
.image{
    height: 300px;
    width: 100%;
    object-fit: cover;
    }    


