<div class="container-fluid p-0">
  <section class="row no-gutters align-items-center">
      <div class="col-12 text-center d-flex">
          <img class="img-fluid image" src="assets/pic.jpg">
          <h2 class="h4"><b>Products List</b></h2>
      </div>
  </section>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3">
      <div class="col" *ngFor="let product of filteritem;let i=index">
          <div class="card bg-white p-2 m-2" >
            <img  
                  class="rounded mx-auto d-block"
                  src="/assets/tomato.png"
                  alt=""
                  [routerLink]="['/front/catalog/product-descrpition/',product.product.id, product.product.slug]"
                  width="120"
                  height="120"/>
            <div class="card-body">
              <small>{{product.product.title}}</small>
              <h4>{{product.product.weight}}</h4>
              <!-- <ul class="card-body rating" data-mdb-toggle="rating">
                <i class="fas fa-star fa-sm text-primary" title="Bad"></i>
                <i class="fas fa-star fa-sm text-primary" title="Poor"></i>
                <i class="fas fa-star fa-sm text-primary" title="OK"></i>
                <i class="fas fa-star fa-sm text-primary" title="Good"></i>
                <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
                <br></ul> -->
                <p>{{product.product.description}}</p>
                <p>{{product.product.short_description}}</p>
                <div class="text-center">
                  <i class="m-2 fw-bolder">{{product.product.amount | currency:'INR'}}</i>
                  <!-- <i class="text-decoration-line-through m-4">{{product.price | currency}}</i> -->
                  <button class="btn btn-outline-light" >
                      <img src="/assets/Cart-btn.png" alt=""></button>
                  </div>
                
              </div>
            </div>
        </div>
    </div>
  </div>
