.image {
    height: 300px;
    width: 100%;
    opacity: .5
  
 }
 .h4{
    position: absolute;
    margin-left: 500px;
    margin-top: 100px;
    font-size: 50px;
    

}

.container_containt{
    margin-left: 38%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.payment{
     margin-right: 55%;
}
.title{
    font-weight: 500;
    font-size: 20px;
}
#payment_btn{
    margin-right: 30%;
}