

<div>
    <img src="/assets/cart.png" class="img" alt="...">
</div>


<table class="table">
    <thead>
      <tr >
        <th scope="col">Item Description</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Sub Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p_details of cart.items;let i=index">
        <td> {{p_details.product.title}}</td>
        <td>{{p_details.product.amount |currency }}</td>
        <td> <div>
            <button class="btn" (click)="subQuantity(p_details.product.id)">-</button>
            <span>{{p_details.quantity}}</span>
            <button class="btn" (click)="addQuantity(p_details.product.id)">+</button>
    </div></td>
    <td>{{p_details.quantity * p_details.product.amount|currency}}</td>
    <td>
       <i type="button" class="fa-solid fa-trash" (click)="deleteItem(p_details.product.id)"></i>
    </td>
      </tr>
    </tbody>
  </table>
  
  <div class="d-flex justify-content-end">
    <div class="card" style="width: 18rem;">
       <table class="table">
    <tr>
    <th>Sub TOTAL</th>
    <th>{{getCartTotal()|currency}}</th>
  </tr>
  <tr>
    <th>Delivary Charges</th>
    <th>Free</th>
  </tr>
  <tr>
    <th>Grand Total</th>
    <th>{{getCartTotal()|currency}}</th>
  </tr>
  </table>
  <a routerLink="/cart/checkout" class="btn btn-primary" (click)="checkout()">Checkout</a>
      </div>
    </div>




