<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-20 me-10 text-light">
        <i class="fa-solid fa-cart-shopping"></i>
    </div>
    <a class="navbar-brand px-4" routerLink="/home">CyberCom Creation</a>

    <div class="side-nav-button p-20 me- text-light">
        <form class="d-flex">
            <input class="form-control me-2 w-500" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success w-100" type="submit">
                products<i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>

    <div class="side-nav-button p-20 me-10 text-light">
        <i class="fa-solid fa-cart-shopping"></i>

    </div>
    <a class="navbar-brand px-4" routerLink="/cart">My Cart</a>
   
    <a class="navbar-brand px-4" routerLink="/front/user/profile">USER</a>
           
    
</nav>
<nav class="navbar navbar-light bg-light ">
  <a class="navbar-brand" routerLink="/catalog/category"><i class="fa-regular fa-grid-2"></i>All-Category</a>
  <form class="d-flex">
      <a class="navbar-brand"><i class="fa-solid fa-phone"></i><span>223-224-25</span>
          <br><span>24*7Support center</span></a>
  </form>
</nav>