<div class="container center W-1000">
    <nav class="navbar  ">
        <a class="navbar-brand"><b>Featured Products</b></a>
        
        <form class="sec">
            <a href="#" class="navbar-brand"><span>All</span></a>
            <a href="#" class="navbar-brand"><span>vegetables</span></a>
            <a href="#" class="navbar-brand"><span>Fruits</span></a>
            <a href="#" class="navbar-brand"><span>Coffe & teas</span></a>
            <a href="#" class="navbar-brand"><span>Meat</span></a>
        </form>
    </nav>
    <carousel [margin]="10" [cellWidth]="1900" [height]="350">
    <div class="d-flex flex-row ">
        <div class="card border-primary">
            <div class="card-body d-flex flex-row">
                <div class="d-flex flex-column justify-content-center align-items-center w-100 border m-1" *ngFor="let product of products">
                    <a routerLink="/catalog/product/{{product.cat_name}}">
                    <img class="card-img-top" src="/assets/{{product.img}}" alt="Title">
                </a>
                    <div class="">
                        <b>
                            <p class=" mb-1">{{product.cat_name}} {{product.quantity}}g</p>
                        </b>
                        <div class="star">
                            <span class=" fa fa-star checked "></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star uncheked"></span>
                        </div>
                        <P>By Vijeet</P>
                        <div class="d-flex">
                            <p class="mr-2">{{product.price}}</p>
                            <s class="ml-2">$2</s>
                            <a href="#" class="btn btn-primary" (click)="addToCart(product.id)"><b>Add</b><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    </carousel>
</div>