.card1{
    width: 420px;
    border-radius: 20px;
    padding: 40px;
    background: #2b2d3f;
    margin-left: 680px;
    margin-top: 25%;
}
.card label h1,h6{
    color: #fff;
}
label{
    color: #fff;
}
.card h1{
    color: #fff;
}
/* .container{
    
    background-image: url("/grocery-app/src/assets/bc.webp");
} */
.img {
    height: 690px;
    width: 100%;
    opacity: .7
}

 /* .h4{
   position: absolute;
   margin-left: 550px;
   margin-top: 100px;
   font-size: 80px;
   color: white;
} */
