.card1{
    width: 450px;
    padding: 30px;
    border-radius: 40px;
    margin-left: 670px;
    margin-top: 200px;    
    background: #2b2d3f;
    }
.card label h1,h6{
    color: #fff;
}
label{
    color: #fff;
}
.card h1{
    color: #fff;
}
.img {
    height: 1000px;
    width: 100%;
    opacity: .7
}