<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container center">
    <div class="d-flex flex-row w-100">

        <div class="card border-primary">
            <div class="card-body">
                <div class="Top">
                    <u>Top Sells</u><br><br>

                </div>
                <div class="d-flex w-100 border m-1">
                    <img class="card-img-top" src="/assets/grossery.jpeg" alt="Title">
                    <div class="value">
                        <b>
                            <p class=" mb-1">orange 1kg</p>
                        </b>
                        <div class="star">
                            <i class="fas fa-star fa-sm text-primary" title="Bad"></i>
                    <i class="fas fa-star fa-sm text-primary" title="Poor"></i>
                    <i class="fas fa-star fa-sm text-primary" title="OK"></i>
                    <i class="fas fa-star fa-sm text-primary" title="Good"></i>
                    <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
                        </div>
                        <div class="d-flex">
                            <p class="sp">$2</p>
                            <s class="jp">$2</s>
                        </div>
                    </div>
                </div>
                <div class="d-flex w-100 border m-1">
                    <img class="card-img-top" src="/assets/grossery.jpeg" alt="Title">
                    <div class="value">
                        <b>
                            <p class=" mb-1">orange 1kg</p>
                        </b>
                        <div class="star">
                            <i class="fas fa-star fa-sm text-primary" title="Bad"></i>
                    <i class="fas fa-star fa-sm text-primary" title="Poor"></i>
                    <i class="fas fa-star fa-sm text-primary" title="OK"></i>
                    <i class="fas fa-star fa-sm text-primary" title="Good"></i>
                    <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
                        </div>
                        <div class="d-flex">
                            <p class="sp">$2</p>
                            <s class="jp">$2</s>
                        </div>
                    </div>
                </div>
                <div class="d-flex w-100 border m-1">
                    <img class="card-img-top" src="/assets/grossery.jpeg" alt="Title">
                    <div class="value">
                        <b>
                            <p class="mb-1">orange 1kg</p>
                        </b>
                        <div class="star">
                            <i class="fas fa-star fa-sm text-primary" title="Bad"></i>
                    <i class="fas fa-star fa-sm text-primary" title="Poor"></i>
                    <i class="fas fa-star fa-sm text-primary" title="OK"></i>
                    <i class="fas fa-star fa-sm text-primary" title="Good"></i>
                    <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
                        </div>
                        <div class="d-flex">
                            <p class="sp">$2</p>
                            <s class="jp">$2</s>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-primary">
            <div class="card-body">
                <div class="Top">
                    <u>Top Rated</u><br><br>
                </div>
                <div class="d-flex w-100 border m-1">
                    <img class="card-img-top" src="/assets/grossery.jpeg" alt="Title">
                    <div class="value">
                        <b>
                            <p class=" mb-1">orange 1kg</p>
                        </b>
                        <div class="star">
                            <i class="fas fa-star fa-sm text-primary" title="Bad"></i>
                            <i class="fas fa-star fa-sm text-primary" title="Poor"></i>
                            <i class="fas fa-star fa-sm text-primary" title="OK"></i>
                            <i class="fas fa-star fa-sm text-primary" title="Good"></i>
                            <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
                        </div>
                        <div class="d-flex">
                            <p class="sp">$2</p>
                            <s class="jp">$2</s>
                        </div>
                    </div>
                </div>
                <div class="d-flex w-100 border m-1">
                    <img class="card-img-top" src="/assets/grossery.jpeg" alt="Title">
                    <div class="value">
                        <b>
                            <p class=" mb-1">orange 1kg</p>
                        </b>
                        <div class="star">
                            <i class="fas fa-star fa-sm text-primary" title="Bad"></i>
                    <i class="fas fa-star fa-sm text-primary" title="Poor"></i>
                    <i class="fas fa-star fa-sm text-primary" title="OK"></i>
                    <i class="fas fa-star fa-sm text-primary" title="Good"></i>
                    <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
                        </div>
                        <div class="d-flex">
                            <p class="sp">$2</p>
                            <s class="jp">$2</s>
                        </div>
                    </div>
                </div>
                <div class="d-flex w-100 border m-1">
                    <img class="card-img-top" src="/assets/grossery.jpeg" alt="Title">
                    <div class="value">
                        <b>
                            <p class="mb-1">orange 1kg</p>
                        </b>
                        <div class="star">
                            <i class="fas fa-star fa-sm text-primary" title="Bad"></i>
                    <i class="fas fa-star fa-sm text-primary" title="Poor"></i>
                    <i class="fas fa-star fa-sm text-primary" title="OK"></i>
                    <i class="fas fa-star fa-sm text-primary" title="Good"></i>
                    <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
                        </div>
                        <div class="d-flex">
                            <p class="sp">$2</p>
                            <s class="jp">$2</s>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-primary">
            <div class="card-body">
                <div class="Top">
                    <u>Trending Items</u><br><br>
                </div>
                <div class="d-flex w-100 border m-1">
                    <img class="card-img-top" src="/assets/grossery.jpeg" alt="Title">
                    <div class="value">
                        <b>
                            <p class=" mb-1">orange 1kg</p>
                        </b>
                        <div class="star">
                            <i class="fas fa-star fa-sm text-primary" title="Bad"></i>
                    <i class="fas fa-star fa-sm text-primary" title="Poor"></i>
                    <i class="fas fa-star fa-sm text-primary" title="OK"></i>
                    <i class="fas fa-star fa-sm text-primary" title="Good"></i>
                    <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
                        </div>
                        <div class="d-flex">
                            <p class="sp">$2</p>
                            <s class="jp">$2</s>
                        </div>
                    </div>
                </div>
                <div class="d-flex w-100 border m-1">
                    <img class="card-img-top" src="/assets/grossery.jpeg" alt="Title">
                    <div class="value">
                        <b>
                            <p class=" mb-1">orange 1kg</p>
                        </b>
                        <div class="star">
                            <i class="fas fa-star fa-sm text-primary" title="Bad"></i>
                            <i class="fas fa-star fa-sm text-primary" title="Poor"></i>
                            <i class="fas fa-star fa-sm text-primary" title="OK"></i>
                            <i class="fas fa-star fa-sm text-primary" title="Good"></i>
                            <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
                        </div>
                        <div class="d-flex">
                            <p class="sp">$2</p>
                            <s class="jp">$2</s>
                        </div>
                    </div>
                </div>
                <div class="d-flex w-100 border m-1">
                    <img class="card-img-top" src="/assets/grossery.jpeg" alt="Title">
                    <div class="value">
                        <b>
                            <p class="mb-1">orange 1kg</p>
                        </b>
                        <div class="star">
                            <i class="fas fa-star fa-sm text-primary" title="Bad"></i>
                    <i class="fas fa-star fa-sm text-primary" title="Poor"></i>
                    <i class="fas fa-star fa-sm text-primary" title="OK"></i>
                    <i class="fas fa-star fa-sm text-primary" title="Good"></i>
                    <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
                        </div>
                        <div class="d-flex">
                            <p class="sp">$2</p>
                            <s class="jp">$2</s>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-primary">
            <div class="card-body">
                <div class="Top">
                    <u> Recently Add</u><br><br>
                </div>
                <div class="d-flex w-100 border m-1">
                    <img class="card-img-top" src="/assets/grossery.jpeg" alt="Title">
                    <div class="value">
                        <b>
                            <p class=" mb-1">orange 1kg</p>
                        </b>
                        <div class="star">
                            <i class="fas fa-star fa-sm text-primary" title="Bad"></i>
                    <i class="fas fa-star fa-sm text-primary" title="Poor"></i>
                    <i class="fas fa-star fa-sm text-primary" title="OK"></i>
                    <i class="fas fa-star fa-sm text-primary" title="Good"></i>
                    <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
                        </div>
                        <div class="d-flex">
                            <p class="sp">$2</p>
                            <s class="jp">$2</s>
                        </div>
                    </div>
                </div>
                <div class="d-flex w-100 border m-1">
                    <div class="card-title">
                    </div>
                    <img class="card-img-top" src="/assets/grossery.jpeg" alt="Title">
                    <div class="value">
                        <b>
                            <p class=" mb-1">orange 1kg</p>
                        </b>
                        <div class="star">
                            <i class="fas fa-star fa-sm text-primary" title="Bad"></i>
                    <i class="fas fa-star fa-sm text-primary" title="Poor"></i>
                    <i class="fas fa-star fa-sm text-primary" title="OK"></i>
                    <i class="fas fa-star fa-sm text-primary" title="Good"></i>
                    <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
                        </div>
                        <div class="d-flex">
                            <p class="sp">$2</p>
                            <s class="jp">$2</s>
                        </div>
                    </div>
                </div>
                <div class="d-flex w-100 border m-1">
                    <img class="card-img-top" src="/assets/grossery.jpeg" alt="Title">
                    <div class="value">
                        <b>
                            <p class="mb-1">orange 1kg</p>
                        </b>
                        <div class="star">
                            <i class="fas fa-star fa-sm text-primary" title="Bad"></i>
                            <i class="fas fa-star fa-sm text-primary" title="Poor"></i>
                            <i class="fas fa-star fa-sm text-primary" title="OK"></i>
                            <i class="fas fa-star fa-sm text-primary" title="Good"></i>
                            <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
                        </div>
                        <div class="d-flex">
                            <p class="sp">$2</p>
                            <s class="jp">$2</s>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

